@use "../util/" as ut;
@use "../global/typography" as tp;

.edit-course {
  background-color: #131212;
  color: silver;
  min-height: calc(100vh - 91px); // Adjust based on your header/footer height
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  &__main {
    width: 500px;
    @include ut.breakpoint(medium) {
      width: 90%;
    }
    border-radius: 10px;
    padding: 2rem;
    box-shadow: #736b7a 0px 0px 0px 2px inset,
      rgb(14, 14, 14) 10px -10px 0px -3px, tp.$dimButtonColor 10px -10px,
      rgb(14, 14, 14) 20px -20px 0px -3px, #979999 20px -20px,
      rgb(14, 14, 14) 30px -30px 0px -3px;
    transition: all 0.6s ease-in-out;

    &:hover {
      box-shadow: #e6ebea 0px 0px 0px 2px inset,
        rgb(14, 14, 14) 10px -10px 0px -3px, tp.$buttonColor 10px -10px,
        rgb(14, 14, 14) 20px -20px 0px -3px, #cbe4e4 20px -20px,
        rgb(14, 14, 14) 30px -30px 0px -3px;
    }
  }

  &__header {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    margin-bottom: 1rem;
    font-family: cursive;
    color: tp.$textColor;
  }

  &__form {
    width: 100%;
    > form {
      display: flex;
      gap: 20px;
      flex-direction: column;

      div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      label {
        font-size: 1.2rem;
        display: block;
        text-align: center;
      }

      input {
        width: 100%;
        font-size: 1rem;
        background-color: silver;
        text-align: center;
        border: 0;
        border-radius: 10px;
        padding: 10px;
        color: rgb(77, 61, 51);
        outline: 2px solid rgb(0, 0, 0);
      }
    }
  }
}

.edit-course__edit__button {
  text-align: center;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: rgb(14, 14, 14);
  color: tp.$textColor;
  font-weight: bold;
  padding: 12px 0;
  margin-top: 1rem;
  transition: all 0.6s ease-in-out;
  border: 1px solid tp.$textColor;
  box-shadow: tp.$textColor 0px 0px 5px 0px, #131212 0px 0px 1px 0px;
  width: 100%;
  font-family: cursive;

  &:hover {
    cursor: pointer;
    transform: scale(0.95);
    background-color: silver;
    color: tp.$textColor;
    box-shadow: tp.$textColor 0px 0px 0px 3px;
  }

  &:disabled {
    background-color: #222;
    color: #666;
    cursor: not-allowed;
    transform: none;
    border: 1px solid #444;
    box-shadow: none;
  }
}

#description {
  width: 100%;
  font-size: 1rem;
  background-color: silver;
  text-align: center;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  color: rgb(77, 61, 51);
  outline: 2px solid rgb(0, 0, 0);
  font-family: cursive;
}
