@use "../util/" as ut;

.edit-course {
  background-color: #131212;
  color: silver;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  &__main {
    width: 500px;
    @include ut.breakpoint(medium) {
      width: 90%;
    }
    box-shadow: rgba(217, 174, 149, 0.555) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 2rem;
  }

  &__header {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    margin-bottom: 2rem;
    font-family: cursive;
  }

  &__form {
    width: 100%;
    > form {
      display: flex;
      gap: 20px;
      flex-direction: column;

      div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      label {
        font-size: 1.2rem;
        display: block;
        text-align: center;
      }

      input {
        width: 100%;
        font-size: 1rem;
        background-color: silver;
        text-align: center;
        border: 0;
        border-radius: 10px;
        padding: 10px;
        color: rgb(77, 61, 51);
        outline: 2px solid rgb(0, 0, 0);
      }
    }
  }
}

.edit-course__edit__button {
  text-align: center;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: rgb(14, 14, 14);
  color: silver;
  font-weight: bold;
  padding: 13px 0;
  margin-top: 1rem;
  transition: all 0.6s ease-in-out;
  border: 1px solid silver;
  width: 100%;
  font-family: cursive;

  &:hover {
    cursor: pointer;
    transform: scale(0.95);
    border: 1px solid #31c4ae;
    box-shadow: #31c4ae 0px 0px 5px 0px, #131212 0px 0px 1px 0px;
  }

  &:disabled {
    background-color: #222;
    color: #666;
    cursor: not-allowed;
    transform: none;
    border: 1px solid #444;
    box-shadow: none;
  }
}

#description {
  width: 100%;
  font-size: 1rem;
  background-color: silver;
  text-align: center;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  color: rgb(77, 61, 51);
  outline: 2px solid rgb(0, 0, 0);
  font-family: cursive;
}
