@use "../util/" as ut;
// @include ut.breakpoint(medium) {
// }

.homeScreen {
  background-color: #131212;
  color: silver;
  min-height: 100vh;
  padding: 10px;
  &__user {
    text-align: center;
    display: inline-block;
    // background-color: silver;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.2rem;
    color: #131212;
    transition: all 0.5s;
    cursor: none;
    & > span {
      font-size: 2.5rem;
      text-align: center;
      font-weight: bold;
      border-radius: 10px;
      color: rgb(103 155 145);
    }
    &:hover {
      padding: 0 10px;
      border-radius: 10px;
      transform: scale(1.2);
      color: #131212;
      background-color: silver;
    }
  }
  &__video {
    border-radius: 10px;
  }
}

.video__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.video__title {
  margin-left: 20px;
  font-size: 1.5rem;
}

.filter-container > select {
  background-color: rgb(14, 14, 14);
  color: silver;
  font-size: 1.1rem;
  font-family: cursive;
  border-radius: 10px;
}

.video__div {
  display: flex;
  justify-content: center;
  min-height: 300px;
}
.video__div1 {
  // transition: all 0.5s;
  min-width: 90%;
  border-radius: 10px;
  background-color: rgb(14, 14, 14);
  box-shadow: #d3dad9 0px 0px 5px 0px, #131212 0px 0px 1px 0px;
}

.__inner {
  background-color: #131212;
  box-shadow: #d3dad954 0px 0px 5px 0px, #131212 0px 0px 1px 0px;
  margin: 20px;
  padding: 50px;
  border-radius: 10px;
  transition: all 0.8s;
  &:hover {
    cursor: pointer;
    transform: scale(0.95);
  }
}
.video__list {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  font-size: 1.2rem;
}
.no-courses-message {
  transition: all 0.5s;
  padding: 20px;
  height: fit-content;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: rgb(14, 14, 14);
  // box-shadow: #d8d8d8 0px 0px 5px 0px, #131212 0px 0px 1px 0px;
  text-decoration: overline;
  color: rgb(236, 52, 52);
}

.upload {
  display: flex;
  justify-content: end;
  padding: 10px 0;
}

.upload_button {
  text-align: center;
  // width: 250px;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px 0;
  background-color: rgb(14, 14, 14);
  text-decoration: none;
  color: silver;
  box-shadow: #d3dad9c7 0px 0px 5px 0px, #131212 0px 0px 1px 0px;
  font-weight: bold;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  // transition: all 0.7s;
  width: 17%;
  transition: all 1s ease-in-out;

  &:hover {
    width: 100%;
    cursor: pointer;
    // color: #1af9b3;
    transform: scale(0.95);
    background-color: silver;
    color: #131212;
    box-shadow: #d3dad9 0px 0px 5px 0px, #131212 0px 0px 1px 0px;
  }
}
