.upload-chooser {
  background-color: #1a1a1a;
  color: #f0f0f0;
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__main {
    text-align: center;
  }

  &__header {
    font-family: "Comic Neue", cursive;
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  &__options {
    display: flex;
    gap: 2rem;
  }

  &__option {
    background-color: #242424;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #444;
    width: 300px;
    text-decoration: none;
    color: #f0f0f0;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateY(-5px);
      border-color: #31c4ae;
    }

    h2 {
      margin-top: 0;
    }

    p {
      color: #aaa;
    }
  }
}
