.videoScreen_inner {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  height: 100vh;
  padding: 10px;
}

.videoScreen_video {
  border: 2px solid red;
  width: 70%;
}

.chatBot {
  border: 2px solid red;
  width: 30%;
}

.video_current {
  background-color: seashell;
  //   margin:  0px;
  padding: 10px 0px;
  font-size: 2rem;
}
