.register {
  height: 100vh;
  display: flex;
  background-color: rgb(14, 14, 14);
  border-radius: 10px;
  box-shadow: 2px 0px 5px 2px rgba(255, 254, 254, 0.2);
  color: silver;
}

.register__main {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-left: 3rem;
  /* margin-top: auto; */
  margin-bottom: 10%;
}

.register {
  width: 100%;
  &__inner {
    margin-top: 3rem;
    &__header {
      &__topHeader {
        font-weight: bold;
        font-size: 3.5rem;
      }
      &__bottomHeader {
        font-size: 1.2rem;
        font-style: italic;
        color: #278d7e;
      }
    }
  }
  &__form {
    margin-top: auto;
    border-radius: 10px;
    box-shadow: 2px 0px 5px 2px rgba(255, 254, 254, 0.2);
    min-width: 250px;
    max-width: 850px;
    width: 90%;
    // margin: 10px auto;
    padding: 20px;
    font-size: 2rem;
    // height: 70%;
    > form {
      height: 100%;
      display: flex;
      gap: 10px;
      flex-direction: column;
    }
    input {
      font-size: 1rem;
      background-color: silver;
      border: 0;
      border-radius: 10px;
      padding: 7px;
      color: rgb(77, 61, 51);
      outline: 2px solid rgb(0, 0, 0);
    }
    &__userName,
    &__userEmail,
    &__userPassword {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  &__loginLink {
    // display: flex;
    font-size: 1.2rem;
    a {
      color: #278d7e;
    }
  }
}

.landing_image {
  background: url(/src/assets/1.jpg) no-repeat center;
  box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.2);
  width: 60%;
  border-radius: 10px;
}
.formContainer__userEmailLogin {
  display: flex;
  flex-direction: column;
}
.formContainer__userPasswordLogin {
  display: flex;
  flex-direction: column;
}

.register__edit {
  display: flex;
  justify-content: end;
  padding: 10px 0;
}

.register__edit__button {
  text-align: center;
  // width: 250px;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px 0;
  background-color: rgb(14, 14, 14);
  text-decoration: none;
  border: none;
  color: silver;
  box-shadow: #d3dad9d7 0px 0px 5px 0px, #131212 0px 0px 1px 0px;
  font-weight: bold;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  // transition: all 0.7s;
  transition: all 0.6s ease-in-out;
  flex-grow: 1;
  font-family: cursive;
  &:hover {
    width: 100%;
    cursor: pointer;
    // color: #1af9b3;
    transform: scaleX(0.95);
    background-color: whitesmoke;
    // color: #131212;
    color: #131212;
    box-shadow: rgba(0, 0, 0, 0.493) 0px 4px 12px;
  }
}

.error-message {
  visibility: hidden;
  height: 1rem;
  font-weight: bold;
  color: red;
  font-size: 0.7rem;
  text-align: left;
  // width: 30em;
  margin-bottom: 0;
  margin-top: 0.2rem;
  &.visible {
    visibility: visible; // This class will make it appear
  }
}

input:focus {
  background-color: rgb(255, 255, 255);
  outline: 2px solid rgb(29, 100, 231);
  box-shadow: 1px 5px 8px 2px rgba(0, 0, 0, 0.164);
}

input:not(:focus):not(:placeholder-shown):invalid {
  outline: 2px solid red;
}

input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
  visibility: visible;
}

input:not(:focus):not(:placeholder-shown):valid {
  outline: 2px solid rgba(111, 153, 111, 0.808);
}
