@forward "global";
@forward "util";

body {
  // background-color: rgb(48, 48, 48);
  background-color: rgb(255 255 251);
  font-family: animeace2;
}

.homeScreen > h1 {
  color: rgb(173, 125, 125);
  text-align: end;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding: 16px;
}
