h1 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

// $textColor: #278d7e;
// $textColor: #7039af;
$textColor: #8447c9;

// $buttonColor: #31c4ae;
$buttonColor: #7d31c4;

$dimButtonColor: #7d31c4ad;
